<html>

<head>
  <title>↓ home ↓</title>
  <link rel="shortcut icon" href="https://img.icons8.com/dusk/64/000000/monitor--v1.png"
    title="Monitor icon by Icons8" />
  <meta charset="utf-8" />
  <!-- meta tags for SEO using Open Graph Protocol -->
  <meta name="description" content="drag and drop website builder!" />
  <meta name="keywords" content="HTML, CSS, JavaScript, Developer" />
  <meta name="author" content="smolpkg" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta property="og:image:url" content="https://img.icons8.com/dusk/64/000000/monitor--v1.png" />
  <meta property="og:image:width" content="300" />
  <meta property="og:image:alt" content="a monitor graphic" />
  <meta property="og:title" content="website builder" />
  <meta property="og:description" content="a drag and drop website builder" />
  <!-- meta tags for twitter -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@smolpkg" />
  <meta name="twitter:image" content="https://img.icons8.com/dusk/64/000000/monitor--v1.png" />
  <meta name="twitter:image:width" content="300" />
  <meta name="twitter:image:alt" content="a monitor graphic" />
  <meta name="twitter:description" content="a drag and drop website builder!" />

  <!-- all Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />

  <link rel="stylesheet" href="/index-light-mode.css" id="theme-link" />
</head>

<body>
  <!-- nav bar starts -->
  <nav class="navbar navbar-expand-lg">
    <ul class="navbar-nav me-auto">
      <a class="navbar-brand" href="/">drag and drop website builder</a>
    </ul>
    <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse"
      data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/templates">my files</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/templates">templates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">source code</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feedback">feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" onclick="changeTheme();">change theme</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- nav bar ends -->
  <!-- content begins -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <h5>Draggable Elements</h5>
      </div>
      <div class="col-lg-3">
        <h5>Drop here!</h5>
      </div>
      <div class="col-lg-3">
        <button id="generateHTML" class="btn btn-primary" onclick="generateHTML()">Generate HTML</button>
      </div>
    </div>
    <br> <br>
    <div class="row">
      <div class="col-lg-3">
        <div id="div9" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img id="drag9" src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2FHeading.png?v=1622828745808"
          draggable="true" ondragstart="drag(event)">
        </div>
      </div>
  
      <div class="col-lg-3">
        <div id="div10" class="dragster" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      
      <div class="col-lg-3">
        <input type="text" id="heading_text" class="form-control" placeholder="Heading Text"> &nbsp;
        <input type="number" id="heading_size" class="form-control" placeholder="Heading Size (1 to 5)">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="div7" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img id="drag7" src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Finput.form-control.png?v=1622828672781"
          draggable="true" ondragstart="drag(event)">
        </div>
      </div>
  
      <div class="col-lg-3">
        <div id="div8" class="dragster" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <div class="col-lg-3">
        <input type="text" id="input1_ph" class="form-control" placeholder="Input1 Placeholder"> &nbsp;
        <input type="text" id="input1_type" class="form-control" placeholder="Input1 Type">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="div11" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img id="drag12" src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Finput.form-control.png?v=1622828672781"
          draggable="true" ondragstart="drag(event)">
        </div>
      </div>
  
      <div class="col-lg-3">
        <div id="div8" class="dragster" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <div class="col-lg-3">
        <input type="text" id="input2_ph" class="form-control" placeholder="Input2 Placeholder"> &nbsp;
        <input type="text" id="input2_type" class="form-control" placeholder="Input2 Type">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img id="drag1" src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Fbtn-info.png?v=1622359025574"
          draggable="true" ondragstart="drag(event)">
        </div>
      </div>
  
      <div class="col-lg-3">
        <div id="div2" class="dragster" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <div class="col-lg-3">
        <input type="text" class="form-control" id="btn_text" placeholder="Button Text"> &nbsp;
        <div class="form-group">
          <select class="form-control" id="btn_color">
            <option default>Pick a color</option>
            <option>btn btn-primary</option>
            <option>btn btn-secondary</option>
            <option>btn btn-danger</option>
            <option>btn btn-success</option>
            <option>btn btn-light</option>
            <option>btn btn-dark</option>
            <option>btn btn-info</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="div3" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img id="drag3" src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Fp.png?v=1622828667472" height="105px"
          draggable="true" ondragstart="drag(event)">
        </div>
      </div>
  
      <div class="col-lg-3">
        <div id="div4" class="dragster" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <div class="col-lg-3">
        <textarea type="text" id="p_text" class="form-control" placeholder="Paragraph Text"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3">
        <div id="div5" ondrop="drop(event)" ondragover="allowDrop(event)">
          <img id="drag5" src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Fcard.png?v=1622828668208" height="105px"
          draggable="true" ondragstart="drag(event)">
        </div>
      </div>
  
      <div class="col-lg-3">
        <div id="div6" class="dragster" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
      </div>
      <div class="col-lg-3">
        <input type="url" id="card_link" class="form-control" placeholder="Card Image Link"> &nbsp;
        <input type="text" id="card_title" class="form-control" placeholder="Card Title"> &nbsp;
        <input type="text" id="card_body" class="form-control" placeholder="Card Body">
      </div>
    </div>
   <br><br>
  </div>
  
</div>
  <!-- content ends -->
  <!-- footer -->
  <footer class="blockquote-footer">
    made with
    <img src="https://cdn.glitch.com/35b30786-9a8e-46fa-abe0-758284828f27%2F8heart.png?v=1616062910915" height="20px" />
    in manipal —
  </footer>
  <!-- footer ends -->
  <!-- simple analytics starts
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
     simple analytics ends -->
</body>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
  integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
<script src="/script.js" defer></script>

</html>