<html>
  <head>
    <title>↓ templates ↓</title>
    <link
      rel="shortcut icon"
      href="https://img.icons8.com/dusk/64/000000/monitor--v1.png"
      title="Monitor icon by Icons8"
    />
    <meta charset="utf-8" />
    <!-- meta tags for SEO using Open Graph Protocol -->
    <meta name="description" content="drag and drop website builder!" />
    <meta name="keywords" content="HTML, CSS, JavaScript, Developer" />
    <meta name="author" content="smolpkg" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      property="og:image:url"
      content="https://img.icons8.com/dusk/64/000000/monitor--v1.png"
    />
    <meta property="og:image:width" content="300" />
    <meta property="og:image:alt" content="a monitor graphic" />
    <meta property="og:title" content="website builder" />
    <meta property="og:description" content="a drag and drop website builder" />
    <!-- meta tags for twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@smolpkg" />
    <meta
      name="twitter:image"
      content="https://img.icons8.com/dusk/64/000000/monitor--v1.png"
    />
    <meta name="twitter:image:width" content="300" />
    <meta name="twitter:image:alt" content="a monitor graphic" />
    <meta
      name="twitter:description"
      content="a drag and drop website builder!"
    />

    <!-- all Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <link rel="stylesheet" href="/index-light-mode.css" id="theme-link" />
  </head>

  <body>
    <!-- nav bar starts -->
    <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav me-auto">
        <a class="navbar-brand" href="/">drag and drop website builder</a>
      </ul>
      <button
        class="navbar-toggler navbar-light"
        type="button"
        data-toggle="collapse"
        data-target=".navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/templates">my files</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/templates">templates</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">source code</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/feedback">feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="changeTheme();"
              >change theme</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- nav bar ends -->
    <div class="container-fluid">
      <!-- content starts -->
      <div class="row">
        <p>
          Download a template of your choice! Included:
          <code>template, instructions, </code>and <code>license</code>
        </p>
      </div>
      <!-- row starts -->
      <div class="row">
        <!-- col starts -->
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2FScreenshot%202021-05-16%20at%207.35.46%20PM.png?v=1621174081047"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Portfolio Website</h5>
              <p class="card-text">
                A minimal template with sections for <code>Contact</code>,
                <code>About Me</code>, <code>Projects</code>, and
                <code>Fund My Work!</code>
              </p>
              <a
                href="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Fportfolio-template.zip?v=1621184952040"
                class="btn btn-secondary"
                download
                >Download</a
              >
            </div>
          </div>
        </div>
        <br />
        <!-- col ends -->
        <!-- col starts -->
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <div
              id="carouselExampleControls"
              class="carousel slide card-img-top"
              data-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class="d-block card-img-top"
                    src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Flogin-preview.png?v=1621257309256"
                    alt="First slide"
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class="d-block card-img-top"
                    src="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Flogin-preview-1.png?v=1621257317587"
                    alt="Second slide"
                  />
                </div>
              </div>
              <a
                class="carousel-control-prev"
                href="#carouselExampleControls"
                role="button"
                data-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Previous</span>
              </a>
              <a
                class="carousel-control-next"
                href="#carouselExampleControls"
                role="button"
                data-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Login Page</h5>
              <p class="card-text">
                Template for a login page with a moving gradient background
                (made purely with CSS).
              </p>
              <a
                href="https://cdn.glitch.com/5328350f-d2c9-47dd-bd13-150714777736%2Flogin-page.zip?v=1621257751733"
                class="btn btn-secondary"
                download
                >Download</a
              >
            </div>
          </div>
        </div>
        <!-- col ends -->
        <!-- col starts -->
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <img
              class="card-img-top"
              src="https://img.icons8.com/carbon-copy/400/000000/new-year-calendar.png"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Coming Soon</h5>
              <p class="card-text">
                More designs coming soon.
              </p>
            </div>
          </div>
        </div>
        <!-- col ends -->
      </div>
      <br />
      <br />
      <!-- row ends -->
      <!-- content ends -->
    </div>
    <!-- footer -->
    <footer class="blockquote-footer">
      made with
      <img
        src="https://cdn.glitch.com/35b30786-9a8e-46fa-abe0-758284828f27%2F8heart.png?v=1616062910915"
        height="20px"
      />
      in manipal —
    </footer>
    <!-- footer ends -->
    <!-- simple analytics starts
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
     simple analytics ends -->
  </body>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
    integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
    crossorigin="anonymous"
  ></script>
  <script src="/script.js" defer></script>
</html>
