body {
  background-color: #fcfffc;
}
nav {
  background-color: #cdedf6;
  opacity: 90%;
}
.nav-link {
  color: #011627;
}
.nav-link:hover {
  color: #087e8b;
}
.navbar-brand {
  color: #011627;
}
.navbar-brand:hover {
  color: #087e8b;
}
.textSelect {
  font-size: 15px;
}
#div1 {
  float: left;
  height: 60px;
  margin: 10px;
  padding: 10px;
}
#div2{
  float: left;
  width: 100%;
  height: 60px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.row {
  padding: 10px;
}
p {
  padding-left: 10px;
}
.col-sm-6 {
  padding: 10px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #cdedf6;
  text-align: center;
  color: #303030;
}
