body {
  background-color: #212121;
}
nav {
  background-color: #cdedf6;
  opacity: 90%;
}
.nav-link {
  color: #011627;
}
.nav-link:hover {
  color: #087e8b;
}
.navbar-brand {
  color: #011627;
}
.navbar-brand:hover {
  color: #087e8b;
}
.textSelect {
  font-size: 15px;
}
.canvasRow {
  border: 0.5px dotted white;
  height: 116px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #cdedf6;
  text-align: center;
  color: #303030;
}
