nav {
    background-color: #011627;
    opacity: 90%;
  }
  a {
    color: #cdedf6;
  }
  
  .col-sm-3 {
    border-right: 0.5px solid black;
  }
  
  .col-sm-6 {
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;
  }
  
  .textSelect {
    font-size: 15px;
  }

  
  footer {
    position: relative;
    background-color: #cdedf6;
    text-align: center;
    color: #303030;
  }
  
form button {
    background-color: #cdedf6;
    border: 2px solid currentColor;
    border-radius: 0.25em;
    cursor: pointer;
    font-size: inherit;
    line-height: 1.4em;
    padding: 0.25em 1em;
    max-width: 20ch;
}
  
form button:hover {
    background-color: #cdedf6;
    box-shadow: 5px 5px 10px #b7e5f2;
}