<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="https://img.icons8.com/dusk/64/000000/monitor--v1.png"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/index.css') }}"
    />
    <title>↓ home ↓</title>
    <!--
            question mark: <img src="https://img.icons8.com/dusk/64/000000/question-mark.png"/>
            cursor: <img src="https://img.icons8.com/dusk/50/000000/cursor.png"/>
            alert: <img src="https://img.icons8.com/dusk/64/000000/box-important--v1.png"/>
            tickmark: <img src="https://img.icons8.com/dusk/64/000000/checkmark--v1.png"/>
            folder: <img src="https://img.icons8.com/dusk/64/000000/opened-folder--v1.png"/>
            bin: <img src="https://img.icons8.com/dusk/64/000000/filled-trash.png"/>
            link: <img src="https://img.icons8.com/officel/16/000000/link.png"/>
            monitor: <img src="https://img.icons8.com/dusk/64/000000/monitor--v1.png"/>
            email: <img src="https://img.icons8.com/cotton/64/000000/secured-letter--v3.png"/>
            download: <img src="https://img.icons8.com/ios-filled/50/000000/download-2--v1.png"/>
        -->
  </head>
  <body>
    <div id="loading"></div>
    <div class="holder">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                onclick="changeIcon();"
                href="/static/sample.pdf"
                download
                ><img
                  src="https://img.icons8.com/carbon-copy/100/000000/download-2--v1.png"
                  style="height: 25px;"
                  id="download-html"
              /></a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/nandiniproothi/drag-drop-website-builder"
                target="_blank"
                tabindex="-1"
                >Source Code</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script
    type="text/javascript"
    src="{{ url_for('static', filename='index.js') }}"
  ></script>
</html>
